# GitHub CI build pipeline
name: Awesome Calculator CI build

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Unit Tests and generate coverage report
        run: |
          coverage run -m unittest discover -s src/tests -p "*.py"
          coverage report
          coverage html

      - name: Archive code coverage html report
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: htmlcov

      - name: Build package (create wheel)
        run: |
          python -m pip install build
          python -m build

      - name: Archive package artifact
        uses: actions/upload-artifact@v4
        with:
          name: awesome-calculator
          path: dist/
