name: Python Package Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build Python Wheel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install build tools
        run: |
          pip install build

      - name: Build wheel
        run: python -m build

      - name: Show dist files
        run: ls -R dist

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v4
        with:
          name: calculator-wheel
          path: dist/*.whl
